doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Connect with Narcis 
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="https://avatars.githubusercontent.com/u/82839799?v=4", type="image/x-icon")
    body 
        .general-div 
            img#profile-picture(src="https://avatars.githubusercontent.com/u/82839799?v=4", alt="Profile Picture")
            p#name
                b Lazar Narcis
            a(href="http://instagram.com/narcis.203/" target="_blank") 
                #contact-card 
                    img#connect-logo(src="imgs/instagram.svg", alt="Instagram")
                    span#website-name Follow me on Instagram
            a(href="https://ro.linkedin.com/in/narcislazar" target="_blank") 
                #contact-card 
                    img#connect-logo(src="imgs/linkedin.png", alt="Linkedin")
                    span#website-name Connect with me on LinkedIn
            a(href="https://github.com/lazarnarcis" target="_blank") 
                #contact-card 
                    img#connect-logo(src="imgs/github.svg", alt="Github")
                    span#website-name Look at my projects on Github
            a(href="https://www.facebook.com/narcis2003/" target="_blank") 
                #contact-card 
                    img#connect-logo(src="imgs/facebook.svg", alt="Facebook")
                    span#website-name Add me on Facebook
            a(href="https://www.reddit.com/user/narcis340" target="_blank") 
                #contact-card 
                    img#connect-logo(src="imgs/reddit.png", alt="Reddit")
                    span#website-name Follow me on Reddit
            a(href="https://lazarnarcis.github.io/portfolio/" target="_blank") 
                #contact-card 
                    img#connect-logo(src="imgs/suitcase.png", alt="Portfolio")
                    span#website-name Checkout my resume
            