body {
    margin: 0;
    padding: 0;
    background-color: rgb(173, 215, 220);
}

.general-div {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#profile-picture {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    box-shadow: inset 0px 0px 5px black;
}

#website-name {
    margin-left: 20px;
    vertical-align: middle;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

#contact-card {
    background-color: white;
    padding: 10px;
    border: 2px solid rgb(33, 121, 131);
    border-radius: 10px;
    cursor: pointer;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    color: rgb(50, 120, 128);
    transition: all .3s;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

#contact-card:hover {
    background-color:rgb(100, 183, 192);
    color: white;
    transform: scale(0.925) rotate(-4deg);
}

#connect-logo {
    height: 40px;
    width: 40px;
    vertical-align: middle;
}

#name {
    color: rgb(49,46,129);

    h1 {
        margin: 5px;
        font-size: 40px;
    }
    p {
        font-size: 20px;
        margin: 0px 150px auto;
    }
}
#theme-switcher {
    top: 0;
    right: 0;
    position: absolute;
    padding: 10px;
    border-bottom-left-radius: 20px;
    background: rgb(45, 61, 87);
    color: white;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}
[data-theme="dark"] #theme-switcher {
    background: black;
}
[data-theme="dark"] #name {
    color: white;
}
[data-theme="dark"] #contact-card:hover {
    background-color: rgb(21, 27, 36);
    transform: scale(0.925) rotate(4deg);
}
[data-theme="dark"] body {
    background-color: rgb(47, 57, 58);
}
[data-theme="dark"] #contact-card {
    background: rgb(58, 65, 73);
    color: white;
    border-color: white;
}
[data-theme="dark"] #profile-picture {
    box-shadow: 0px 0px 5px black;
}
@media (max-width: 750px) {
    #contact-card {
        width: 80%;
    }
    #name {
        p {
            margin: 0px 25px;
        }
    }
}